/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  padding-top: 90px;
  overflow-y: auto;
}

/* Profile Header */
.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5%;
  background-color: #f8f8f8;
  width: 60%;
  margin: 0 auto;
  color: #1e2a5e;
  text-align: center;
  flex-direction: column;
}

/* Stats Section */
.stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.stat-item {
  background-color: #1e2a5e;
  color: #fff;
  width: 120px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-item-light {
  background-color: #ded3c2; /* Light beige */
  color: #333;
}

.stat-item img {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
}

.stat-value {
  font-weight: bold;
  font-size: 1.2em;
}

.stat-label {
  font-size: 0.8em;
  color: #ddd;
}

/* Bookshelf Section */
.bookshelf {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  color: #333;
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.bookshelf-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #1e2a5e;
  margin-bottom: 15px;
}

.books-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.book {
  width: 90px;
  height: 130px;
  transition: transform 0.3s;
}

.book img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book:hover {
  transform: scale(1.05);
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e2a5e;
  z-index: 1000;
}

header .logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.navigation {
  display: flex;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s background;
  margin-right: 30px;
}

.navigation a:hover {
  background: #fff;
  color: #1e2a5e;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .profile-header {
    width: 90%;
    flex-direction: column;
  }
  .stats-container {
    gap: 10px;
  }
  .book {
    width: 70px;
    height: 100px;
  }
}

@media (max-width: 500px) {
  .profile-header {
    width: 100%;
    flex-direction: column;
  }
  .books-container {
    gap: 10px;
  }
  .stat-item,
  .stat-item-light {
    width: 10px;
    height: 6px;
  }
}
