<footer class="footer">
    <div class="footer-content">
    <h2><a href="#" class="logo" style="font-weight: bold; color: white;">bOOkberry</a></h2>
        <p>"Connecting readers to their next great book"</p>

        <div class="icons">
            <a href="#"><i class='bx bxl-facebook-circle'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            <a href="#"><i class='bx bxl-youtube'></i></a>
        </div>
    </div>

    <div class="footer-content">
        <h4>Reading Lists</h4>
        <li><a href="home.php">Genres</a></li>
        <li><a href="home.php">Book Categories</a></li>
        <li><a href="home.php">Comments</a></li>
    </div>

    <div class="footer-content">
        <h4>About Us</h4>
        <li><a href="about.php">About</a></li>
        <li><a href="tel:+6283830904951">Contact</a></li>
        <li><a href="https://g.co/kgs/jPWyoTB" target="_blank">Location</a></li>
    </div>

    <div class="footer-content">
        <h4>Quick Links</h4>
        <li><a href="home.php">Home</a></li>
        <li><a href="home.php">Book</a></li>
        <li><a href="profile.php">Profile</a></li>
    </div>
</footer>